@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,500;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,800;1,800&display=swap");

*,
*::before,
* ::after {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	border: none;
}

:root {
	--primaryClr--300: hsl(47, 88%, 63%);
	--neutralClr--100: hsl(0, 0%, 100%);
	--neutralClr--400: hsl(0, 0%, 50%);
	--neutralClr--900: hsl(0, 0%, 7%);
	--ff-base: "Figtree", sans-serif;
	--fw--regular: 400;
	--fs--base: 16px;
	--fw--bold: 800;
}

body {
	min-height: 100dvh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--primaryClr--300);
	font-family: var(--ff-base);
}
.card {
	display: flex;
	flex-direction: column;
	justify-items: center;
	max-width: 384px;
	max-height: 522px;
	background-color: var(--neutralClr--100);
	border-radius: 1rem;
	outline: 1px solid var(--neutralClr--900);
	box-shadow: 9px 9px var(--neutralClr--900);
	overflow: hidden;
}
.card img {
	border-radius: 2.2rem;
}
#article-illustration {
	width: 100%;
	padding: 23px;
}

article {
	display: flex;
	flex-direction: column;
	padding: 23px;
	margin-top: -25px;
}
.category {
	padding: 6px 10px;
	width: 80px;
	border-radius: 3px;
	text-align: center;
	font-weight: var(--fw--bold);
	font-size: 14px;
	background-color: var(--primaryClr--300);
}

.date-published {
	font-size: 14px;
	padding-top: 14px;
}

h1 {
	padding-top: 15px;
}
h1:hover {
	cursor: pointer;
	color: var(--primaryClr--300);
}
.card:hover {
	box-shadow: 16px 18px var(--neutralClr--900);
}
p {
	line-height: 1.5rem;
	padding-top: 18px;
	color: hsl(0, 0%, 60%);
}
.author {
	display: flex;
	gap: 0.8rem;
	align-items: center;
	padding-top: 22px;
}
.author img {
	width: 32px;
	height: 32px;
}
.author-name {
	font-weight: var(--fw--bold);
	font-size: 0.9rem;
}

/* -------------MOBILE--------------- */

@media screen and (max-width: 375px) {
	.card {
		width: 325px;
		height: 500px;
	}

	h1 {
		font-size: 1.275rem;
	}

	.card:hover {
		box-shadow: 12px 14px var(--neutralClr--900);
	}

	.category {
		margin-top: 5px;
		font-size: 12px;
		width: 72px;
	}
	.date-published {
		font-size: 13px;
	}
	p {
		font-size: 14px;
		line-height: 1.4rem;
	}
	.author {
		padding-top: 40px;
		
	}
}
